[submodule ".buildroot"]
	path = .buildroot
	url = https://gitlab.com/buildroot.org/buildroot.git
[submodule "agentics"]
	path = agentics
	url = https://github.com/capacitive/agentics.git
[submodule ".augment"]
	path = .augment
	url = https://github.com/capacitive/.augment.git
